.container {
   background-image: url(https://bigkittie75.github.io/images/indeximg.jpeg?raw=true);
	 background-repeat: no-repeat;
   width: 100%;
   max-width: 1280px;
   min-width: 320px;
   margin: 0 auto;
   clear: both;
 }
