.header {
  font-family: Garamond, sans-serif;
  font-size: 16px;
  text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 25%;
  position: fixed;
}

.mlink {
  font-size: 90%;
  text-align: left;
  padding: 0% 10%;
  color: white;

}

* {
	background-image: url(https://bigkittie75.github.io/images/indeximg.jpeg?raw=true);
  background-size: cover;
  width: 100%;
  height: 100%;
}
